@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');

.parent{
  margin: auto;
  width: 100vw;
  border: 3px solid #1D1D1D;
  border-radius: 7px;
  padding: 10px;
  display: block;
  background-color: #252525;
  color: #F9F9F9;
  box-shadow: 10px 10px 8px #1A1A1A;
  text-shadow: 5px 5px 8px #1A1A1A;
  height: 100vh;
  font-size: 1.5vh;
}
.webAppContainer{
}
.main2{
  height: 75vh;
}
.footer{
  background-color: #292929;
  border-radius: 0.25em;
  box-shadow: 2px 2px 8px #1A1A1A;
  padding-left: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-shadow: 5px 5px 8px #1A1A1A;
  height: 5vh;
  display: none;
}

html {
  background-color: #1D1D1D;
  font-family: 'Ubuntu Mono', monospace;
}

.textContainer{
    margin-bottom: 2em;
    padding-bottom: 1.5em;
    padding-top: 1em;
}

.postID{
  margin: auto;
  width: auto;
  padding: 10px 10px;
  background-color: #303030;
  border-radius: 0.25em;
  box-shadow: 5px 5px 8px #1A1A1A;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1em;
  display: inline-block;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Roboto', monospace;
}

.scoreText{
  margin: auto;
  width: auto;
  background-color: #303030;
  border-radius: 0.25em;
  box-shadow: 5px 5px 8px #1A1A1A;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1em;
  display: inline-block;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  float: right;
  font-family: 'Roboto', monospace;
}

.postTextContainer{
  margin: auto;
  background-color: #303030;
  border-radius: 0.25em;
  box-shadow: 5px 5px 8px #1A1A1A;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 10vh;
}

.postHeader{
  margin: auto;
  margin-left: 2vw;
  margin-bottom: 0.25em;
  text-shadow: 5px 5px 8px #1A1A1A;
}
.container{
    margin: auto;
    width: 99vw;
}
.inputContainer{
  margin: auto;
  margin-bottom: 2em;
}
.postInput{
    width: 95vw;
    margin: auto;
    margin-left: 1%;
    margin-right: 1%;
    height: 5em;
    border-radius: 0.5em;
    resize: none;
    display: block;
    margin-bottom: 0em;
    padding: 1em;
    font-family: 'Roboto', monospace;
    caret-color: #F9F9F9;
    color: #F9F9F9;
    box-shadow: 5px 5px 8px #1A1A1A;
    background-color: #272727;
    height: 15vh;
}
.charCounter{
  float: right;
  margin-right: 1.5vw;
}
.successMessage{
  background-color: #272727;
  border-radius: 0.25em;
  margin: auto;
  margin-left: 1.2vw;
}
.postInput:focus{
  outline: none;
  background-color: #282828;
}
button{
  width: 95vw;
  padding: 10px 10px;
  margin: auto;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #282828;
  border: 0px solid black;
  border-radius: 0.5em;
  color: #F9F9F9;
  box-shadow: 5px 5px 8px #1A1A1A;
}
button:hover{
  outline: none;
  background-color: #303030;
}
button:focus{
  outline: none;
  background-color: #303030;
}
button:active{
  box-shadow: 2px 2px 8px #1A1A1A;
}
.thumbButtonContainer{
    width: 97vw;
    margin: auto;
    margin-bottom: 6em;
}

.thumbsUpButton{
    background-color: green;
    width: 45vw;
    float: left;
    margin-left: 1vw;
    margin-right: 0.5vw;
    border: none;
    height: 5vh;
}
.thumbsDownButton{
    background-color: #D3301B;
    width: 45vw;
    float: right;
    margin-left: 0.5vw;
    margin-right: 1vw;
    border: none;
    height: 5vh;
}
.thumbsUpButton:hover{
  background-color: green;
}
.thumbsDownButton:hover{
  background-color: #D3301B;
}
.pageChangeButton{
  height: 5vh;
}
.submitButton{
  margin-top: 0em;
  margin-bottom: 2em;
  height: 5vh;
}

.placeholder{
  margin: 0;
}
